# FastAPI та веб-фреймворк
fastapi==0.104.1
uvicorn==0.24.0

# HTTP клієнт для запитів до мікросервісів
httpx==0.25.2

# Налаштування
python-dotenv==1.0.0
pydantic==2.5.2
pydantic-settings==2.1.0

# Логування
loguru==0.7.2

# Безпека
redis==5.0.1
PyJWT==2.8.0
python-multipart==0.0.6

# База даних
sqlalchemy==2.0.23
psycopg2-binary==2.9.9

# Тестування
pytest==7.4.3
pytest-asyncio==0.21.1 